.container {
    padding: 50px;
}
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 30px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    position: static;
    min-height: 100%;
}
th {
    background-color: #ffffff;
    cursor: pointer;
}

.roudend {
    border-radius: 20px;
    height: 50px;
    width: 50px;
    margin-left: ;
}   
